<div id="em<%= email.id %>">
<%= link_to email_path(email.id), remote: true, class:"list-group-item" do%>
<input type="checkbox">
<b><%= email.object %></b> -
<small> <%= email.body[0,100] %></small>
<% end %>
</div>